.dig_titulo_capitulo_abre {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-top: 36px;
  

  .back_unidade {
    background-color: #102694;
    border-radius: 8px;
    padding: 3px;
    position: absolute;
    top: -17px;
    left: 10px;
    z-index: 4;
    color: #FFFFFF;
    height: 35px;
    width: 115px;


    .unidade {
      font-family: $fontTitle;
      font-size: 20px;
      font-weight: 300;
      text-align: center;
    }
  }

  .num_unidade {
    min-width: 134px;
    background-color: #666666;
    border: 10px solid #FFFFFF;
    position: relative;
    border-radius: 50%;
    z-index: 1;
    height: 134px;
    display: flex;
    align-items: center;
    justify-content: center;

    .number_unidade {
      font-family: $fontTitle;
      font-size: 95px;
      font-weight: 700;
      text-align: center;
      color:#FFFFFF ;
      margin-top: 7px;
    }
  }

  .dig_titulo_text {
    position: relative;
    left: -32px;
    background-color: #102694;
    border-radius: 0px 16px 16px 0;
    width: fit-content;
    padding: 0px 35px;
    align-items: center;
    display: flex;
    min-height: 116px;
    

    .texto_unidade {
      font-family: $fontTitle;
      font-size: 36px;
      font-weight: 700;
      text-align: left;
      color: #FFFFFF;
      padding-left: 30px;
      line-height: 1.4;
    }
  }


  &.artes {
    .back_unidade {
      background-color: $art_cor1;
    }
    .dig_titulo_text {
      background-color: $art_cor1;
    }

  }

  &.ciencias {
    .back_unidade {
      background-color: $cie_cor1;
      
    }
    .dig_titulo_text {
      background-color: $cie_cor1;
      
    }


  }

  &.geografia {

    .back_unidade {
      background-color: $geo_cor1;
      
    }
    .dig_titulo_text {
      background-color: $geo_cor1;
      
    }
  }

  &.historia {
    .back_unidade {
      background-color: $his_cor1;
      
    }

    .dig_titulo_text {
      background-color: $his_cor1; 
    }
  }

  &.lingua_inglesa {
    .back_unidade {
      background-color: $ing_cor1; 
    }

    .dig_titulo_text {
      background-color: $ing_cor1;
    }
  }

  &.lingua_portuguesa {
    .back_unidade {
      background-color: $por_cor1; 
    }

    .dig_titulo_text {
      background-color: $por_cor1;  
    }
  }

  &.matematica {
    .back_unidade {
      background-color: $mat_cor1; 
    }

    .dig_titulo_text {
      background-color: $mat_cor1;
    }
  }
  
}

@media only screen and (max-width: $phone-max-width) {
  .dig_titulo_capitulo_abre .back_unidade {
    height: 18px;
    width: 52px;
    top: -10px;
    left: 14px;
  }
  .dig_titulo_capitulo_abre .back_unidade .unidade {
    font-size: 10px;
  }

  .dig_titulo_capitulo_abre .num_unidade { 
    max-height: 70px;
    min-width: 70px;
    border: 6px solid #FFFFFF;
  }
  .dig_titulo_capitulo_abre .num_unidade .number_unidade { 
    font-size: 60px;
    margin-top: 0px;
  }

  .dig_titulo_capitulo_abre .dig_titulo_text {
    padding: 3px 1px;
    left: -20px;
    min-height: 54px;
  }
  .dig_titulo_capitulo_abre .dig_titulo_text .texto_unidade {
    padding-left: 30px;
    font-size:16px;
  }

}

@media only screen and (min-width: $phone-max-width) and (max-width: 768px){
  .dig_titulo_capitulo_abre .back_unidade {
    height: 18px;
    width: 52px;
    top: -10px;
    left: 14px;
  }
  .dig_titulo_capitulo_abre .back_unidade .unidade {
    font-size: 10px;
  }

  .dig_titulo_capitulo_abre .num_unidade { 
    max-height: 70px;
    min-width: 70px;
    border: 6px solid #FFFFFF;
  }
  .dig_titulo_capitulo_abre .num_unidade .number_unidade { 
    font-size: 60px;
    margin-top: 0px;
  }

  .dig_titulo_capitulo_abre .dig_titulo_text {
    padding: 0px 6px;
    left: -20px;
    height: 70px;
  }
  .dig_titulo_capitulo_abre .dig_titulo_text .texto_unidade {
    padding-left: 30px;
    font-size:17px;
  }

}