.css_01_titulo3 {
  font-family: $fontHandwrite;
  font-weight: 500;
  font-size: 28px;
  color: $preto;
  /* Características do componente */
  display: block;
  margin-top: 20px;
  padding: 0 0px;
  margin-bottom: 0px;

  h3 {
    margin: 0;
  }

  .line_titulo3 {
    position: relative;
    width: 100%;
    border-bottom: 3px dashed;
  }

  .line_titulo3::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 0;
    right: 0;
  }

  /* Variações de cores */
  &.voce_sabia h3 {
    color: $art_cor1;
    font-size: 28px;

    .line_titulo3 {
      border-bottom: 3px dashed $voce_sabia_cor1;
    }

    .line_titulo3::after {
      background-color: $voce_sabia_cor1;
    }
  }

  &.conheca_artista h3 {
    color: $conheca_artista_cor1;
    font-size: 28px;

    .line_titulo3 {
      border-bottom: 3px dashed $conheca_artista_cor1;
    }

    .line_titulo3::after {
      background-color: $conheca_artista_cor1;
    }
  }

  &.get_ready h3 {
    color: $get_ready_cor1;
    font-size: 28px;

    .line_titulo3 {
      border-bottom: 3px dashed $get_ready_cor1;
    }

    .line_titulo3::after {
      background-color: $get_ready_cor1;
    }
  }

  &.palavra_texto h3 {
    color: $palavra_texto_cor1;
    font-size: 28px;

    .line_titulo3 {
      border-bottom: 3px dashed $palavra_texto_cor1;
    }

    .line_titulo3::after {
      background-color: $palavra_texto_cor1;
    }
  }

  &.mapeando h3 {
    color: $mapeando_cor1;
    font-size: 28px;

    .line_titulo3 {
      border-bottom: 3px dashed $mapeando_cor1;
    }

    .line_titulo3::after {
      background-color: $mapeando_cor1;
    }
  }

  &.sticker_time h3 {
    color: $sticker_time_cor1;
    font-size: 28px;

    .line_titulo3 {
      border-bottom: 3px dashed $sticker_time_cor1;
    }

    .line_titulo3::after {
      background-color: $sticker_time_cor1;
    }
  }

  &.brincadeira h3 {
    color: $brincadeira_cor1;
    font-size: 28px;

    .line_titulo3 {
      border-bottom: 3px dashed $brincadeira_cor1;
    }

    .line_titulo3::after {
      background-color: $brincadeira_cor1;
    }
  }

  &.saber_mais h3{
    color: $saber_mais_cor1;
    font-size: 28px;

    .line_titulo3 {
      border-bottom: 3px dashed $saber_mais_cor1;
    }

    .line_titulo3::after {
      background-color: $saber_mais_cor1;
    }
  }

  &.aplicando_ciencia h3 {
    color: $aplicando_ciencia_cor1;
    font-size: 28px;

    .line_titulo3 {
      border-bottom: 3px dashed $aplicando_ciencia_cor1;
    }

    .line_titulo3::after {
      background-color: $aplicando_ciencia_cor1;
    }
  }

  &.thinking_time h3{
    color: $thinking_time_cor1;
    font-size: 28px;

    .line_titulo3 {
      border-bottom: 3px dashed $thinking_time_cor1;
    }

    .line_titulo3::after {
      background-color: $thinking_time_cor1;
    }
  }

  &.familia_escola h3 {
    color: $familia_escola_cor1;
    font-size: 28px;

    .line_titulo3 {
      border-bottom: 3px dashed $familia_escola_cor1;
    }

    .line_titulo3::after {
      background-color: $familia_escola_cor1;
    }
  }

  &.reading_time h3{
    color: $reading_time_cor1;
    font-size: 28px;

    .line_titulo3 {
      border-bottom: 3px dashed $reading_time_cor1;
    }

    .line_titulo3::after {
      background-color: $reading_time_cor1;
    }
  }

  &.leitura_inicial h3 {
    color: $leitura_inicial;
    font-size: 28px;

    .line_titulo3 {
      border-bottom: 3px dashed $leitura_inicial;
    }

    .line_titulo3::after {
      background-color: $leitura_inicial;
    }
  }

  &.interacao,
  &.criando_arte,
  &.lessons {
    color: $interacao;
    font-size: 28px;

    .line_titulo3 {
      border-bottom: 3px dashed $interacao;
    }

    .line_titulo3::after {
      background-color: $interacao;
    }
  }

  &.conecte_assunto,
  &.caracterizando,
  &.genero_textual  h3{
    color: $conecte_assunto;
    font-size: 28px;

    .line_titulo3 {
      border-bottom: 3px dashed $conecte_assunto;
    }

    .line_titulo3::after {
      background-color: $conecte_assunto;
    }
  }

  &.vamos_descobrir h3{
    color: $vamos_descobrir;
    font-size: 28px;

    .line_titulo3 {
      border-bottom: 3px dashed $vamos_descobrir;
    }

    .line_titulo3::after {
      background-color: $vamos_descobrir;
    }
  }

  &.ideias_construcao,
  &.matematica_dia,
  &.voce_historiador h3 {
    color: $ideias_construcao;
    font-size: 28px;

    .line_titulo3 {
      border-bottom: 3px dashed $ideias_construcao;
    }

    .line_titulo3::after {
      background-color: $ideias_construcao;
    }
  }

  &.construindo_conhecimentos h3 {
    color: $construindo_conhecimentos;
    font-size: 28px;

    .line_titulo3 {
      border-bottom: 3px dashed $construindo_conhecimentos;
    }

    .line_titulo3::after {
      background-color: $construindo_conhecimentos;
    }
  }

  &.maos_obra h3 {
    color: $maos_obra;
    font-size: 28px;

    .line_titulo3 {
      border-bottom: 3px dashed $maos_obra;
    }

    .line_titulo3::after {
      background-color: $maos_obra;
    }
  }

  &.oque_aprendi,
  &.closing_up  h3 {
    color: $oque_aprendi;
    font-size: 28px;

    .line_titulo3 {
      border-bottom: 3px dashed $oque_aprendi;
    }

    .line_titulo3::after {
      background-color: $oque_aprendi;
    }
  }
}