.css_01_titulo1 {
  font-family: $fontTitle;
  font-weight: 800;
  text-align: left;
  font-size: 2rem;
  margin: 40px 0px 0px 0px;
  padding: 0px;

  /* Variações de cores */
  &.artes {

    color: $art_cor1;
  }

  &.ciencias {

    color: $cie_cor1;
  }

  &.geografia {

    color: $geo_cor1;
  }

  &.historia {

    color: $his_cor1;
  }

  &.lingua_inglesa {

    color: $ing_cor1;
  }

  &.lingua_portuguesa {

    color: $por_cor1;
  }

  &.matematica {

    color: $mat_cor1;
  }

}