.css_02_texto_destaque {
  display: block;
  color: $preto;
  text-align: left;
  font-size: 22px;
  font-family: $fontName;
  font-weight: 300;
  margin-top: 32px;
  line-height: 1.5em;

  &.artes {
    .text {
      color: $art_cor1;
    }
  }

  &.ciencias {
    .text {
      color: $cie_cor1;
    }
  }

  &.geografia {
    .text {
      color: $geo_cor1;
    }
  }

  &.historia {
    .text {
      color: $his_cor1;
    }
  }

  &.lingua_inglesa {
    .text {
      color: $ing_cor1;
    }
  }

  &.lingua_portuguesa {
    .text {
      color: $por_cor1;
    }
  }

  &.matematica {
    .text {
      color: $mat_cor1;
    }
  }

}