.css_01_titulo3 {
  font-family: $fontHandwrite;
  font-weight: 500;
  font-size: 28px;
  color: $preto;

  /* Características do componente */
  display: block;
  margin-top: 20px;
  padding: 0 0px;
  margin-bottom: 0px;
  line-height: 1.5em;

  .line_titulo3 {
    position: relative;
    width: 100%;
    border-bottom: 3px dashed $preto;
  }

  .line_titulo3::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $preto;
    top: 0;
    right: 0;
  }

  /* Variações de cores */
  &.voce_sabia {
    color: $art_cor1;

    .line_titulo3 {
      border-bottom: 3px dashed $voce_sabia_cor1;
    }

    .line_titulo3::after {
      background-color: $voce_sabia_cor1;
    }
  }

  &.conheca_artista {
    color: $conheca_artista_cor1;

    .line_titulo3 {
      border-bottom: 3px dashed $conheca_artista_cor1;
    }

    .line_titulo3::after {
      background-color: $conheca_artista_cor1;
    }
  }

  &.get_ready {
    color: $get_ready_cor1;

    .line_titulo3 {
      border-bottom: 3px dashed $get_ready_cor1;
    }

    .line_titulo3::after {
      background-color: $get_ready_cor1;
    }
  }

  &.palavra_texto {
    color: $palavra_texto_cor1;

    .line_titulo3 {
      border-bottom: 3px dashed $palavra_texto_cor1;
    }

    .line_titulo3::after {
      background-color: $palavra_texto_cor1;
    }
  }

  &.mapeando {
    color: $mapeando_cor1;

    .line_titulo3 {
      border-bottom: 3px dashed $mapeando_cor1;
    }

    .line_titulo3::after {
      background-color: $mapeando_cor1;
    }
  }

  &.sticker_time {
    color: $sticker_time_cor1;

    .line_titulo3 {
      border-bottom: 3px dashed $sticker_time_cor1;
    }

    .line_titulo3::after {
      background-color: $sticker_time_cor1;
    }
  }

  &.brincadeira {
    color: $brincadeira_cor1;

    .line_titulo3 {
      border-bottom: 3px dashed $brincadeira_cor1;
    }

    .line_titulo3::after {
      background-color: $brincadeira_cor1;
    }
  }

  &.saber_mais {
    color: $saber_mais_cor1;

    .line_titulo3 {
      border-bottom: 3px dashed $saber_mais_cor1;
    }

    .line_titulo3::after {
      background-color: $saber_mais_cor1;
    }
  }

  &.aplicando_ciencia {
    color: $aplicando_ciencia_cor1;

    .line_titulo3 {
      border-bottom: 3px dashed $aplicando_ciencia_cor1;
    }

    .line_titulo3::after {
      background-color: $aplicando_ciencia_cor1;
    }
  }

  &.thinking_time {
    color: $thinking_time_cor1;

    .line_titulo3 {
      border-bottom: 3px dashed $thinking_time_cor1;
    }

    .line_titulo3::after {
      background-color: $thinking_time_cor1;
    }
  }

  &.familia_escola {
    color: $familia_escola_cor1;

    .line_titulo3 {
      border-bottom: 3px dashed $familia_escola_cor1;
    }

    .line_titulo3::after {
      background-color: $familia_escola_cor1;
    }
  }

  &.reading_time {
    color: $reading_time_cor1;

    .line_titulo3 {
      border-bottom: 3px dashed $reading_time_cor1;
    }

    .line_titulo3::after {
      background-color: $reading_time_cor1;
    }
  }

  &.leitura_inicial {
    color: $leitura_inicial;

    .line_titulo3 {
      border-bottom: 3px dashed $leitura_inicial;
    }

    .line_titulo3::after {
      background-color: $leitura_inicial;
    }
  }

  &.interacao,
  &.criando_arte,
  &.lessons {
    color: $interacao;

    .line_titulo3 {
      border-bottom: 3px dashed $interacao;
    }

    .line_titulo3::after {
      background-color: $interacao;
    }
  }

  &.conecte_assunto,
  &.caracterizando,
  &.genero_textual {
    color: $conecte_assunto;

    .line_titulo3 {
      border-bottom: 3px dashed $conecte_assunto;
    }

    .line_titulo3::after {
      background-color: $conecte_assunto;
    }
  }

  &.vamos_descobrir {
    color: $vamos_descobrir;

    .line_titulo3 {
      border-bottom: 3px dashed $vamos_descobrir;
    }

    .line_titulo3::after {
      background-color: $vamos_descobrir;
    }
  }

  &.ideias_construcao,
  &.matematica_dia,
  &.voce_historiador {
    color: $ideias_construcao;

    .line_titulo3 {
      border-bottom: 3px dashed $ideias_construcao;
    }

    .line_titulo3::after {
      background-color: $ideias_construcao;
    }
  }

  &.construindo_conhecimentos {
    color: $construindo_conhecimentos;

    .line_titulo3 {
      border-bottom: 3px dashed $construindo_conhecimentos;
    }

    .line_titulo3::after {
      background-color: $construindo_conhecimentos;
    }
  }

  &.maos_obra {
    color: $maos_obra;

    .line_titulo3 {
      border-bottom: 3px dashed $maos_obra;
    }

    .line_titulo3::after {
      background-color: $maos_obra;
    }
  }

  &.oque_aprendi,
  &.closing_up {
    color: $oque_aprendi;

    .line_titulo3 {
      border-bottom: 3px dashed $oque_aprendi;
    }

    .line_titulo3::after {
      background-color: $oque_aprendi;
    }
  }
}