.css_02_texto_vocabulario {
  display: block;
  color: #000000;
  font-family: $fontName;
  font-weight: 600;
  text-align: left;
  line-height: 1.5em;
  font-size: 1.375rem;
  margin-top: 16px;


  &.leitura_inicial {
    color: $leitura_inicial;
  }

  &.interacao {
    color: $interacao;
  }

  &.interacao,
  &.criando_arte,
  &.lessons {
    color: $interacao;
  }

  &.caracterizando,
  &.conecte_assunto,
  &.genero_textual {
    color: $caracterizando;
  }

  &.vamos_descobrir {
    color: $vamos_descobrir;
  }

  &.ideias_construcao,
  &.matematica_dia,
  &.voce_historiador {
    color: $matematica_dia;
  }

  &.construindo_conhecimentos {
    color: $construindo_conhecimentos;
  }

  &.maos_obra {
    color: $maos_obra;
  }

  &.oque_aprendi,
  &.closing_up {
    color: $oque_aprendi;
  }


}