.css_02_texto_destaque2 {
  display: block;
  color: $preto;
  text-align: left;
  font-size: 22px;
  font-family: $fontName;
  font-weight: 300;
  margin-top: 32px;
  line-height: 1.5em;

  &.artes {
    color: $art_cor1;

  }

  &.ciencias {

    color: $cie_cor1;
  }


  &.geografia {

    color: $geo_cor1;
  }


  &.historia {

    color: $his_cor1;
  }


  &.lingua_inglesa {

    color: $ing_cor1;
  }


  &.lingua_portuguesa {

    color: $por_cor1;
  }


  &.matematica {

    color: $mat_cor1;
  }


}