.dig_box_11 {
    margin: 0;
    padding: 21px 36px 36px 36px;
    font-family: $fontName;
    font-size: 1.375rem;
    text-align: left;
    border: 3px dashed #666666;
    background-color: white;
    border-radius: 16px;
    position: relative;

}