.dig_box_02 {
  background: #00B8F1;
  border: 3px solid #008BB8;
  display: inline-flex;
  align-items: center;
  margin-top: 35px;
  width: 100%;
  height: 71px;
  line-height: 1.5;
  border-radius: 0px 20px 20px 0px;
  font-weight: 300;
  font-family: $fontName;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  height: 100%;
}

.dig_box_02 p {
  margin-left: 40px;
  width: 468px;
  text-transform: uppercase;
  color: #fff;
}

.dig_box_02 img {
  width: 40px;
}